In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [65]:
data=pd.read_csv("C:\\Users\\HP\\Desktop\\Python\\AI\\DataSet\\banknew.csv")
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [66]:
df=data.replace(['admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown','divorced', 'married', 'single','no','yes','failure', 'other', 'success'],
             [0,1,2,3,4,5,6,7,8,9,10,11,1,2,3,0,1,12,13,14],regex=True)
df.to_csv("newbanknew.csv")
# job,martial,default,housing,poutcome
# print(set(data['job']))
# print(set(data['marital']))
# print(set(data['default']))
# print(set(data['housing']))
# print(set(data['poutcome']))
# print(set(data['loan']))

In [67]:
data=pd.read_csv("C:\\Users\\HP\\Desktop\\Python\\AI\\newbanknew.csv")
data.head()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0,59,0,2,secondary,0,2343,1,0,11,5,may,1042,1,-1,0,11,1
1,1,56,0,2,secondary,0,45,0,0,11,5,may,1467,1,-1,0,11,1
2,2,41,9,2,secondary,0,1270,1,0,11,5,may,1389,1,-1,0,11,1
3,3,55,7,2,secondary,0,2476,1,0,11,5,may,579,1,-1,0,11,1
4,4,54,0,2,tertiary,0,184,0,0,11,5,may,673,2,-1,0,11,1

In [68]:
x=data.iloc[:,[2,3,5,7,16]].values
y=data.iloc[:,8].values
# job,martial,default,housing,poutcome

In [69]:
from sklearn.cross_validation import train_test_split

In [70]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [71]:
from sklearn.preprocessing import StandardScaler

In [72]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [73]:
from sklearn.linear_model import LogisticRegression

In [74]:
classifier =LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [75]:
print(y_pred)

[0 0 0 ... 0 0 0]

In [76]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[2470    0]
 [ 321    0]]

In [77]:
from sklearn.metrics import accuracy_score

In [78]:
accuracy_score(y_test,y_pred)

0.8849874596918668

In [53]:
a=input("Enter the job  ")
b=input("Enter the marital 1-divorced 2-married 3-single'}")
c=input("Enter the default")
d=input("Enter the housing")
e=input("Enter the poutcome")
['admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown','divorced', 'married', 'single','no','yes','failure', 'other', 'success'],
[0        ,1             ,2              ,3         ,4            ,5         ,6              ,7        ,8         ,9         ,10            ,11      ,1           ,2         ,3     ,0   ,1    ,12         ,13       ,14]

x1=np.array([[a,b,c,d,e]])
x1 =sc.transform(x1)
y1=classifier.predict(x1)
if(y1==1):
    print("You can  get loan")
elif(y1==0):
    print("You can not get loan")

Enter the job0
Enter the marital2
Enter the default1
Enter the housing11
Enter the poutcome1
You can  get loan

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype <U2 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}