In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data=pd.read_csv("C:\\Users\\HP\\Desktop\\Python\\AI\\DataSet\\suv.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  16804002    Male   19            76000          0

In [4]:
x=data.iloc[:,[2,3]].values
y=data.iloc[:,4].values

In [5]:
from sklearn.cross_validation import train_test_split

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
classifier =LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [38]:
print(y_pred)

[[-1.84152705 -1.96938774]]
[0 0 0 0 0 0 1 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0
 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 1 0 1 0
 1 0 0 1 1 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1]

In [40]:
# testing new no
a=input("Enter the age")
b=input("Enter the salary")
x1=np.array([[a,b]])
x1 =sc.transform(x1)
y1=classifier.predict(x1)
if(y1==1):
    print("You can afford car")
elif(y1==0):
    print("You can not afford car")
# print(x_test)

Enter the age10
Enter the salary120
You can not afford car

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype <U3 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [12]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[62  4]
 [ 9 25]]

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_test,y_pred)

0.87