In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=pd.read_csv("C:\\Users\\HP\\Desktop\\Python\\AI\\DataSet\\suv.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  16804002    Male   19            76000          0

In [3]:
x=data.iloc[:,[2,3]].values
y=data.iloc[:,4].values

In [4]:
# from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
classifier =LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [10]:
print(y_pred)

[0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 0 1
 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0
 0 1 0 0 1 0 0 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0]

In [11]:
# testing new no
a=input("Enter the age")
b=input("Enter the salary")
x1=np.array([[a,b]])
x1 =sc.transform(x1)
y1=classifier.predict(x1)
if(y1==1):
    print("You can afford car")
elif(y1==0):
    print("You can not afford car")
# print(x_test)

Enter the age34
Enter the salary243565
You can afford car

In [12]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[57  3]
 [11 29]]

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_test,y_pred)

0.86