In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=pd.read_csv("C:\\Users\\HP\\Desktop\\Python\\AI\\DataSet\\moviedataset.csv")
data.head()

,actorId,actorName,moviecount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716

In [3]:
zero_not_accepted=['actorId','moviecount','ratingSum','normalizedMovieRank','googleHits','normalizedGoogleRank','normalizedRating']

In [4]:
for columns in zero_not_accepted:
    data[columns]=data[columns].replace(0,np.nan)
    mean=int(data[columns].mean(skipna=True))
    data[columns]=data[columns].replace(np.nan , mean)
data.head()

,actorId,actorName,moviecount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11.0,1170.0,9.44862,2460000.0,7.34283,10.00000
1,374,Shah Rukh Khan,23.0,2000.0,7.55009,2670000.0,7.88458,9.22674
2,375,Salman Khan,36.0,2340.0,5.40217,3490000.0,10.00000,9.20821
3,376,Katrina Kaif,17.0,1640.0,8.48082,2120000.0,6.46570,8.94852
4,377,Deepika Padukone,16.0,1080.0,5.64674,3000000.0,8.73591,8.62716

In [5]:
x=data.iloc[:,2:7]
y=data.iloc[:,7]

In [6]:
print(x.head())

   moviecount  ratingSum  normalizedMovieRank  googleHits  \
0        11.0     1170.0              9.44862   2460000.0
1        23.0     2000.0              7.55009   2670000.0
2        36.0     2340.0              5.40217   3490000.0
3        17.0     1640.0              8.48082   2120000.0
4        16.0     1080.0              5.64674   3000000.0

   normalizedGoogleRank
0               7.34283
1               7.88458
2              10.00000
3               6.46570
4               8.73591

In [7]:
print(y.head())

0    10.00000
1     9.22674
2     9.20821
3     8.94852
4     8.62716
Name: normalizedRating, dtype: float64

In [8]:
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
from sklearn.linear_model import SGDRegressor

In [13]:
classifier =SGDRegressor(random_state=0)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [14]:
print(y_pred)

[3.83084587 3.2365793  2.54306066 4.33026492 6.15647701 2.33068996
 2.80732096 2.82634636 1.26360782 2.00818003 3.31297253 1.93148375
 1.38883269 1.60508171 5.6787237  5.16482133 4.77974375 2.65657297
 4.88070676 1.15918908 2.82351393 2.72368936 3.2365793  1.75091337
 2.08597862 4.30670189 2.50824343 2.37708209 2.64231302 2.08597862
 1.9623949  1.45378016 1.45378016 5.1679481  1.95008975 2.64231302
 2.69489127 1.75091337 1.75250784 1.84558203 1.48485896 2.30014212
 2.68709827 1.72530447 2.00774879 2.93944623 1.05586659 2.61660503
 4.01917388 2.04804659 3.16799511 4.12945074 2.60313705 1.57141646
 4.13576143 2.69226748 1.98253051 5.52347025 3.58038848 1.3463476
 4.49045725 1.60234967 1.75091337 1.61833453 3.01985801 2.01632629
 2.64231302 5.86789276 7.8845608  2.6731611  1.89948288 2.36489937
 7.94495901 6.35314005 2.64231302 4.00704106]

In [15]:
# testing new values
a=input("Enter actorName ")
b=input("Enter moviecount ")
c=input("Enter ratingSum ")
d=input("Enter normalizedMovieRank ")
e=input("Enter googleHits ")
f=input("Enter normalizedGoogleRank ")
x1=np.array([[b,c,d,e,f]])
x1 =sc.transform(x1)
y1=classifier.predict(x1)
print("The predicted normalizedRating is ",y1[0])

Enter actorName salman
Enter moviecount 43
Enter ratingSum 54
Enter normalizedMovieRank 65
Enter googleHits 65
Enter normalizedGoogleRank 45
The predicted normalizedRating is  53.7244962486395