In [ ]:
#1000 to 1500
# 1500 to 3000
# max range in which sold out
# max range in which available
# linear
# both data set
# old price

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv

In [24]:
data = pd.read_csv("C:\\Users\\HP\\Desktop\\Python\AI\\DataSet\\oyorooms.csv")
data['OLD PRICE'].replace(np.nan,0)
data[320:330]
# oldprice=data['OLD PRICE'].str.split(" ",expand=True)
# oldprice=list(oldprice[1])

# newpricedata['PRICE AFTER DISCOUNT'].str.split(" ",expand=True)
# newpricee=list(newprice[1])

# pricedf=pd.DataFrame({"old price":oldprice,"new price":newprice})
# pricedf.to_csv("newoyo.csv")

,Unnamed: 0,HOTEL NAME,LOCALITY,REGION,OLD PRICE,PRICE AFTER DISCOUNT,% DISCOUNT,STATUS
320,320,OYO Premium 594 Malviya Nagar A Block,Shivalik Road,Delhi,₹ 3549,₹ 2662,25% OFF,SOLD OUT
321,321,OYO Homes 446 Kailash Colony Main Market,Kailash Colony,Delhi,₹ 2099,₹ 1574,25% OFF,SOLD OUT
322,322,OYO Rooms 096 Vasant Kunj 2,New Delhi,Delhi,₹ 2299,₹ 1724,25% OFF,SOLD OUT
323,323,OYO Premium 335 Model Town Delhi,Bhama Shah Marg,Delhi,NaN,₹ 3549,NaN,SOLD OUT
324,324,OYO Rooms 490 Jantar Mantar Delhi,Jai Singh Road,Delhi,₹ 2999,₹ 2249,25% OFF,SOLD OUT
325,325,OYO Rooms 188 Safdarjung Enclave,Safdarjung Enclave,Delhi,₹ 3649,₹ 2737,25% OFF,SOLD OUT
326,326,OYO Premium 346 Connaught Place 2,Connaught Place,Delhi,₹ 2599,₹ 1949,25% OFF,SOLD OUT
327,327,OYO Rooms 167 Safdarjung Extension,Safdarjung,Delhi,₹ 1599,₹ 1199,25% OFF,SOLD OUT
328,328,OYO Rooms 222 Karol Bagh Metro Station 3,Karol Bagh,Delhi,₹ 1949,₹ 1462,25% OFF,SOLD OUT
329,329,OYO Rooms 398 South Extension 2,South Extension-ll,Delhi,₹ 2299,₹ 1724,25% OFF,SOLD OUT

In [16]:
x=data['PRICE AFTER DISCOUNT']
y=data['OLD PRICE']
# df
l1=[]
l2=[]
for i in range(len(y)):
    x1=x[i].replace('₹','')
    x2=y[i].replace('₹','')
    print(x1,x2)
    l1.append(x1)
    l2.append(x2)
# print(l1)

 1987  2649
 2362  3149
 1349  1799
 1499  1999
 2924  3899
 1349  1799
 4574  6099
 1349  1799
 1248  1664
 3637  4849
 1274  1699
 1248  1664
 2774  3699
 2362  3149
 3224  4299
 2849  3799
 3487  4649
 1874  2499
 2812  3749
 2437  3249
 3562  4749
 2662  3549
 1874  2499
 2587  3449
 3599  4799
 1874  2499
 2624  3499
 3224  4299
 2174  2899
 1612  2149
 1649  2199
 1387  1849
 1912  2549
 1837  2449
 1537  2049
 1537  2049
 1874  2499
 1274  1699
 2324  3099
 1499  1999
 1687  2249
 1874  2499
 1987  2649
 1424  1899
 899  1199
 2662  3549
 2062  2749
 1912  2549
 1199  1599
 937  1249
 1799  2399
 2437  3249
 2699  3599
 2062  2749
 1949  2599
 2699  3599
 1537  2049
 1462  1949
 862  1149
 1312  1749
 1387  1849
 2024  2699
 2399  3199
 2024  2699
 2849  3799
 2474  3299
 1874  2499
 1762  2349
 1724  2299
 1387  1849
 1349  1799
 1012  1349
 1087  1449
 1124  1499
 3487  4649
 1237  1649
 1237  1649
 2999  3999
 1274  1699
 1424  1899
 1049  1399
 3149  4199
 1612  2149
 2737  3649
 937  1249
 1087  1449
 1687  2249
 2587  3449
 2174  2899
 1199  1599
 1837  2449
 937  1249
 1574  2099
 1462  1949
 1124  1499
 1724  2299
 974  1299
 1199  1599
 1274  1699
 1087  1449
 1087  1449
 1012  1349
 1199  1599
 1387  1849
 1199  1599
 3787  5049
 2924  3899
 2774  3699
 2587  3449
 1349  1799
 4574  6099
 3749  4999
 2887  3849
 1762  2349
 2512  3349
 4349  5799
 2474  3299
 1537  2049
 1537  2049
 2512  3349
 2512  3349
 2587  3449
 2437  3249
 2474  3299
 2362  3149
 2249  2999
 2062  2749
 1799  2399
 2062  2749
 1274  1699
 5137  6849
 1499  1999
 1162  1549
 2662  3549
 824  1099
 2999  3999
 2474  3299
 2812  3749
 1912  2549
 2887  3849
 2437  3249
 2812  3749
 3824  5099
 2624  3499
 2212  2949
 2962  3949
 3562  4749
 1724  2299
 2549  3399
 2512  3349
 2624  3499
 1424  1899
 2549  3399
 3374  4499
 2399  3199
 2549  3399
 3374  4499
 3037  4049
 1012  1349
 1987  2649
 1799  2399
 1949  2599
 1837  2449
 3149  4199
 1687  2249
 2324  3099
 2549  3399
 4237  5649
 2887  3849
 1574  2099
 2699  3599
 2549  3399
 1912  2549
 2287  3049
 2699  3599
 1649  2199
 2287  3049
 1724  2299
 1612  2149
 1912  2549
 3712  4949
 1649  2199
 2549  3399
 1237  1649
 1349  1799
 1237  1649
 2849  3799
 1237  1649
 1724  2299
 1537  2049
 1274  1699
 1349  1799
 4499  5999
 1199  1599
 1724  2299
 1537  2049
 1199  1599
 2849  3799
 1537  2049
 3149  4199
 1349  1799
 2249  2999
 2249  2999
 1949  2599
 974  1299
 2812  3749
 1049  1399
 2062  2749
 899  1199
 1012  1349
 2512  3349
 1462  1949
 824  1099
 2662  3549
 1687  2249
 1274  1699
 1799  2399
 3824  5099
 937  1249
 1199  1599
 1199  1599
 1349  1799
 937  1249
 1462  1949
 1574  2099
 4612  6149
 1012  1349
 1087  1449
 2849  3799
 2662  3549
 1574  2099
 3299  4399
 1124  1499
 899  1199
 1424  1899
 2774  3699
 1087  1449
 1649  2199
 1012  1349
 2962  3949
 1537  2049
 1087  1449
 1762  2349
 1424  1899
 2249  2999
 1387  1849
 562  749
 1012  1349
 1912  2549
 1237  1649
 974  1299
 1162  1549
 1124  1499
 824  1099
 2587  3449
 1049  1399
 1499  1999
 2849  3799
 2099  2799
 1987  2649
 1612  2149
 2062  2749
 1987  2649
 3074  4099
 1387  1849
 824  1099
 2249  2999
 1799  2399
 1312  1749
 1387  1849
 1124  1499
 1462  1949
 1237  1649
 1049  1399
 1162  1549
 1537  2049
 1837  2449
 3337  4449
 1424  1899
 1762  2349
 1012  1349
 1574  2099
 1424  1899
 974  1299
 2399  3199
 1499  1999
 1949  2599
 1499  1999
 2099  2799
 2474  3299
 1162  1549
 1799  2399
 1274  1699
 1574  2099
 1537  2049
 1049  1399
 1837  2449
 1012  1349
 1537  2049
 974  1299
 1499  1999
 1912  2549
 2099  2799
 2699  3599
 899  1199
 1349  1799
 1724  2299
 3112  4149
 1199  1599
 1762  2349
 2774  3699
 1049  1399
 1874  2499
 1049  1399
 2399  3199
 2662  3549
 1462  1949
 1912  2549
 787  1049
 1124  1499
 2662  3549
 1574  2099
 1724  2299

AttributeError: 'float' object has no attribute 'replace'