In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
data = pd.read_csv("C:\\Users\\HP\\Desktop\\Python\AI\\DataSet\\oyorooms.csv")
df=data.replace(['â‚¹','% OFF','Available','SOLD OUT'],['','',1,0],regex=True).dropna()
# df.drop(df[0])
df.drop(df.columns[0],axis=1,inplace=True)
df.to_csv('cleanedoyoroomsdata.csv')
df.head()

,HOTEL NAME,LOCALITY,REGION,OLD PRICE,PRICE AFTER DISCOUNT,% DISCOUNT,STATUS
0,OYO Premium 529 Jasola Vihar,"Pocket-2, Jasola",Delhi,2649,1987,25,1
1,OYO Flagship 485 GK2 Savitri Cinema,"E Block,GK2",Delhi,3149,2362,25,1
2,OYO Flagship 573 Paharganj NDLS,"Arakashan Road, Paharganj",Delhi,1799,1349,25,1
3,OYO Flagship 513 Delhi Airport,"A Block,Mahipalpur Extension",Delhi,1999,1499,25,1
4,OYO Premium 055 New Friends Colony Ring Road,CV Raman Marg,Delhi,3899,2924,25,1